* {
    transition:all 0.2s ease-in-out;
    margin: 0;
    padding: 0;
    
    font-family: 'Baloo Paaji 2', cursive;

}



.container1{
    /* position: sticky; */
    display: flex;
    /* left: 0px; */
    margin-left: -9px;
    /* margin-top: 10px; */
    /* flex: auto; */
    font-size: 14px;
    height: 16vh;
    background: #5ad9f6;
}

.navbar1{
    float: right;
    margin: auto;
    margin-top: 17px;
    /* left: 200px; */
    /* padding: 0.5rem 1.5rem; */
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}

.nav-links {
    display: flex;
    gap: 4rem;
}

.nav-link, .drop-down li {
    list-style: none;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem 1rem;
    font-weight: 100px;
    cursor: pointer;
    /* color: #fff; */
    /* font-size: 50px; */
}




.drop-down {
    position: absolute;
    padding: 0.5rem 0;
    margin: 0.5rem -0.5rem;
    background: rgb(230, 228, 226);
    color: rgb(88, 83, 83);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    font-size: 12px;
    display: none;
}

.nav-link:hover {
    background-color: rgb(23, 88, 113);
    /* color: #fff; */
    border-radius: 0.5rem;
}


 .services:hover .drop-down {
    display: inline-flex;
    flex-direction: column ;
    z-index: 1;
    color: rgb(245, 249, 249);
    background-color: rgb(142, 152, 152);
}


.services a {
    display: flex;
    align-items: center;
}

.services .dropdown-icon {
    font-size: 18px;
    position: relative;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.services:hover .dropdown-icon {
    transform: rotate(180deg);
}

.drop-down li:hover {
    background: black;
    color: #fff;
    border-radius: 0.5rem;
}

.mobile{
    font-family: 'Bebas Neue', cursive;
    font-size:xx-large;
    text-decoration: none;
    color: white ;
}

.right {
    /* border: 2px solid yellow; */
    display: inline-block;
    /* margin: auto; */
    position: absolute;
    top: 37px;
    right: 8px;
    /* background-color: #6a5e5e; */
  }
  .btn1 {
    font-family: "Baloo Bhai 2", "cursive";
    margin: -14px 33px;
    padding: 4px 20px;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    background-color: #89e9ff;
    color: white;
  }
  .btn1:hover {
    background-color: lightslategrey;
    color: #267e92;
  }

  .left {
    
    /* display: inline-block;
    
    top: 30px;
    left: 50px; */
    float: left;
  }
  .left img {
    /* padding-top: 12px;
    width: 112px; */
    border-radius: 200px; 

    max-width: 80px;
  float: left;
  margin: 0px 65px 0 0;
  padding: 10px 30px;
  }
  .afjan {
    font-family: 'Bebas Neue', cursive;
    font-size:xx-large;
    text-decoration: none;
    color: #267e92 ;
  }

@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }

nav select { display: none; }

@media (max-width: 928px) {
    nav ul     { display: none; }
    nav select { display: inline-block; }
}


/* a
{
    font-family: 'Bebas Neue', cursive;
    font-size:xx-large;
    text-decoration: none;
    color: white ;
} */

.main
{
    margin: 5px auto;
    display: grid;
    grid-template-columns: 2fr 5fr 2.8fr;
    grid-gap: 15px;
}

.news
{align-self: start;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;    
}





.text1
{
    padding: 0px 20px ;
    font-size: 17px;
    font-family: 'Lexend', sans-serif;
}
.text2
{
    padding: 0px 10px ;
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
}
.text3
{
    padding: 0px 20px ;
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
}
.text3:hover
{
    font-weight:bold;
}

.text4{
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
}
.text5{
    font-size: 17px;
    font-family: 'Lexend', sans-serif;
}


/* Navigation Bounce Animation  Start*/

        /* OUTER CONTAINER */
        .s-wrap {
            width: 100%;
            overflow: hidden; /* Hide scrollbars */
        }
        
        /* MIDDLE WRAPPER */
        .s-move {
            display: flex;
            position: relative;
            top: 0;
            right: 0;
        }
        
        /* SLIDES */
        .slide {
            box-sizing: border-box;
            padding: 10px;
            /* Force all slides to layout horizontally */
            width: 100%;
            flex-shrink: 0; 
        }
        
        /* SLIDE ANIMATION MAGIC */
        @keyframes slideh {
            /* Will use keyframes to shift the 5 slides *
            0% { right: 0; }
            20% { right: 100%; }
            40% { right: 200%; }
            60% { right: 300%; }
            80% { right: 400%; }
            100% { right: 0; }*/
            /* BUT the above will be non-stop */
            /* We want short pauses between each slide, so... */
            0% { right: 0; }
            15% { right: 0; }
            20% { right: 100%; }
            35% { right: 100%; }
            40% { right: 200%; }
            55% { right: 200%; }
            60% { right: 300%; }
            75% { right: 300%; }
            80% { right: 400%; }
            95% { right: 400%; }
            100% { right: 0; }
        }
        .s-move { animation: slideh linear 16s infinite; }
        .s-move:hover { animation-play-state: paused; }
        /* Navigation Bounce Animation  Start*/
/* Navigation Bounce Animation  Ended*/

  